:root {
    --primary-color: #2F6E49;
    --secondary-color: #F5D248;
    --tertiary-color:#333333;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,
a:link,
a:active,
a:hover{
    color: var(--tertiary-color);
    text-decoration: none;
}

button,
button:hover{
   border: none;
   background-color: transparent;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1{
    color: var(--tertiary-color);
}

h2{
  font-weight: bold;
  font-size:2.4rem;
  color: var(--tertiary-color);
}

h3{
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    color: var(--tertiary-color);
}

p{
    margin: 0;
}

html{
    font-size: 62.5%;
    
}


body{
    font-family: 'Lato', sans-serif;
    color: var(--tertiary-color);
    font-size: 1.4rem;
    color: var(--tertiary-color);
}

.vp_container{
    padding: 0rem 12.3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.vp_header{
    background-image: url("../images/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.vp_header-conatiner{
  padding: 10.8rem 25.5rem;
}

.vp_header-box{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 3.5rem 4.5rem;
    box-shadow: 0px 0px 10px #0000001A;
}

.vp_header-box > h1{
  font-size: 3rem;
  font-weight: 900;
}

.vp_header-box > p{
 font-size: 1.8rem;
 padding-top: 1.5rem;
 padding-bottom: 2rem;
}

.vp_header-form-container{

}

.vp_header-form{
 display: flex;
 justify-content: space-between;
}

.vp_input{
    font-size: 1.6rem;
    outline: none;
    padding:1.2rem 3rem;
    border:#D5D5D5 solid 1px;
    border-radius: 5px;
}
.vp_input::placeholder{
    color: #9D9D9D;
}
.vp_input-form{
    flex: 0 1 62%;
}

.vp_btn{
  font-weight: bold;
  font-size: 1.6rem;
  padding:1.2rem 3rem;  
  border-radius: 5px;
}

.vp_btn > img{
    margin-left: .8rem;
}

.vp_btn-form{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.vp_property{
 padding-top: 6rem;
 padding-bottom: 6rem;
}
.vp_property > h2{
    padding-bottom: 4rem;
}
.vp_property-container{
display: flex;
column-gap: 30px;
}

.vp_property-item{
 width: 298px;
}

.vp_property-item > img{

}

.vp_property-item > h3{
 padding-top: 15px;
 padding-bottom: 10px;
}

.vp_property-item > p{
  font-size: 1.6rem;
}

.vp_booking{
  background-color: var(--primary-color);
  color:#FFFFFF;
  padding: 4.5rem 5.5rem;
  padding-bottom: 6rem;
  border-radius: 10px;
}

.vp_booking-container{
display: flex;
column-gap: 75px;
}

.vp_booking-details{

}

.vp_booking-details > h2{
    color: #FFFFFF;
}

.vp_booking-details > p{
 font-size: 1.6rem;
 padding-top: 12px;
 padding-bottom: 24px;
}



.vp_booking-details-list{
font-size: 1.6rem;
display: flex;
flex-direction: column;
row-gap: 12px;
padding-bottom: 3rem;
}

.vp_booking-details-item{
display: flex;
align-items: center;
column-gap: 10px;
}

.vp_btn-booking{
  background-color: #FFFFFF;
  color: var(--primary-color);
}

.vp_booking-image-box{
display: flex;
align-items:center;
}

.vp_booking-image{

}



.vp_guides{
  padding: 6.5rem 0rem;
}

.vp_guides > h2{

}

.vp_guides > p{
 font-size: 1.6rem;
 padding-bottom: 4rem;
}

.vp_guides-container{
display: flex;
column-gap:26px;
}

.vp_guides-card{
 width: 301px;
 padding: 20px;
 background-color: rgba(47, 110, 73, .08);
 border-radius: 10px;
}


.vp_guides-card > h3{
 font-size: 1.7rem;
 padding-top:12.5px;
 padding-bottom: 6px;
}

.vp_guides-card > a{
 border-bottom: solid var(--secondary-color) 3px;
 font-size: 1.5rem;
 font-weight: bold;
 color:var(--primary-color);
  display:flex;
  width:fit-content;
  align-items: center;
  column-gap: 5px;
}



.vp_guides-image-box{
  position: relative;
  border-radius: 10px;
}

.vp_guides-image-box::after{
    content: "FREE GUIDE";
    width:fit-content;
    padding:2px 8px;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    position:absolute;
    top:12px;
    left:12px;
    font-weight: bold;
    border-radius: 5px;
}

.vp_guides-image-box > img{
   
}


.vp_reviews{

}

.vp_reviews > h2{
  padding-bottom: 4rem;
}

.vp_reviews-container{
 display: flex;
 flex-direction: column;
 row-gap: 25px;
}

.vp_reviews-reaview{
  padding: 4.5rem;
  background-color: rgba(51, 51, 51,.08);
  border-radius:10px;
}


.vp_reviews_rating{

}

.vp_reviews_rating > i{
  font-size:18px;
  color: var(--primary-color);
}


.vp_reviews-reaview > h3{
  padding-top: 1rem;
  padding-bottom: 1.8rem;
  font-size: 1.7rem;
}

.vp_reviews-reaview > p{
 font-size: 1.6rem;
}

.vp_reviews-reaview > h4{
 font-size:1.4rem;
}

.vp_reaview-date{
 font-weight: bold;
 padding-top: 2.5rem;
}

.vp_blogs{
 padding-top: 9.2rem;
 padding-bottom: 12.8rem;
}

.vp_blog-container{
 display: flex;
 column-gap: 25px;
}

.vp_blog{
 padding: 2.5rem;
 border-radius: 10px;
 width: 301px;
}


.vp_blog:nth-child(1){
    background-color: rgba(245, 210, 71,.15);
}

.vp_blog:nth-child(2){
  background-color: rgba(47, 110, 73,.08);
}

.vp_blog:nth-child(3){
  background-color: rgba(51, 51, 51,.08);
}

.vp_blog > h3{
 font-size: 2rem;
 padding-bottom: 1.05rem;
}

.vp_blog > a{
    border-bottom: solid var(--secondary-color) 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--primary-color);
     display:flex;
     width:fit-content;
     align-items: center;
     column-gap: 5px;
}

.vp_footer{
  background-color: #F4F4F4;
  padding-top: 8rem;
  padding-bottom: 11.5rem;
}

.vp_footer-container{
  display: flex;
}

.vp_footer-info{
 flex:1 0 30%;
}

.vp_footer-info > h3{
padding-top: 1rem;
}

.vp_footer-info > h4{
 font-size:1.6rem;
 font-weight: bold;
 padding-bottom: 1.5rem;
}

.vp_footer-info-image-box{

}

.vp_footer-info-image-box > img{

}


.vp_footer-info > ul{
font-size: 1.5rem;
padding-bottom: 2rem;
}


.vp_footer-info > ul >li{
padding: 3px 0px;
}

.vp_footer-info > ul > li > span{
 font-weight: bold;
}


.vp_footer-box{

}

.vp_footer-link{
  flex:1 1 60%;
}

.vp_footer-links-container{
  display: flex;

}

.vp_footer-links-useful-box{
  flex: 1 1 50%;
}

.vp_footer-links-useful-box > h3{
 padding-bottom: 15px;
}

.vp_footer-links-useful{
 display:flex;
 flex-direction: column;
 row-gap: 10px;
 
}

.vp_footer-links-useful > a{
 display: block;
 border-bottom: solid var(--secondary-color) 3px;
 font-size: 1.5rem; 
 width: fit-content;
}

.vp_footer-links-connect-box{
  flex: 1 1 50%;
}

.vp_footer-links-connect-box > h3{
  padding-bottom: 15px;
}

.vp_footer-links-connect{
display: flex;
 column-gap: 8px;

}

.vp_footer-link-connect{
 background-color: var(--primary-color);
 width: 35px;
 height:35px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 100%;
}

.vp_footer-link-connect > img{

}


.vp_footer-links > hr{
  margin-top: 6.5rem;
  margin-bottom:6.5rem;
}


.vp_footer-copyright{

}

.vp_footer-copyright-image-box{

}

.vp_footer-copyright-image-box > img{

}

.vp_footer-copyright-text{
 padding-top: 15px;
}

.vp_footer-copyright-text > p{
  color: #7B7B7B;
  font-size:1.2rem;
}

.vp_footer-copyright-text > p:nth-child(1){

}

.vp_footer-copyright-text > p:nth-child(2){
  padding-top:10px;
  padding-bottom: 10px;
}

.vp_footer-copyright-text > p:nth-child(3){
  
}