:root {
    --primary-color: #2F6E49;
    --secondary-color: #F5D248;
    --tertiary-color:#333333;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,
a:link,
a:active,
a:hover{
    color: var(--tertiary-color);
    text-decoration: none;
}

button,
button:hover{
   border: none;
   background-color: transparent;
}

ul{
    list-style: none;
    padding: 0;
}

h2{
  font-weight: bold;
  font-size:2.4rem;
}

h3{
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
}

p{
    margin: 0;
}

html{
    font-size: 62.5%;
    
}


body{
    font-family: 'Lato', sans-serif;
    color: var(--tertiary-color);
    font-size: 1.4rem;
}

.vp_container{
    padding: 0rem 12.3rem;
}

.vp_header{
    background-image: url("../images/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10.8rem 25.5rem;
}

.vp_header-box{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 3.5rem 4.5rem;
    box-shadow: 0px 0px 10px #0000001A;
}

.vp_header-box > h1{
  font-size: 3rem;
  font-weight: 900;
}

.vp_header-box > p{
 font-size: 1.8rem;
 padding-top: 1.5rem;
 padding-bottom: 2rem;
}

.vp_header-form-container{

}

.vp_header-form{
 display: flex;
 justify-content: space-between;
}

.vp_input{
    font-size: 1.6rem;
    outline: none;
    padding:1.2rem 3rem;
    border:#D5D5D5 solid 1px;
    border-radius: 5px;
}
.vp_input::placeholder{
    color: #9D9D9D;
}
.vp_input-form{
    flex: 0 1 62%;
}

.vp_btn{
  font-weight: bold;
  font-size: 1.6rem;
  padding:1.2rem 3rem;  
  border-radius: 5px;
}

.vp_btn > img{
    margin-left: .8rem;
}

.vp_btn-form{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.vp_property{
 padding-top: 6rem;
 padding-bottom: 6rem;
}
.vp_property > h2{
    padding-bottom: 4rem;
}
.vp_property-container{
display: flex;
column-gap: 30px;
}

.vp_property-item{
 width: 298px;
}

.vp_property-item > img{

}

.vp_property-item > h3{
 padding-top: 15px;
 padding-bottom: 10px;
}

.vp_property-item > p{
  font-size: 1.6rem;
}

.vp_booking{
  background-color: var(--primary-color);
  color:#FFFFFF;
  padding: 4.5rem 5.5rem;
  padding-bottom: 6rem;
  border-radius: 10px;
}

.vp_booking-container{
display: flex;
column-gap: 75px;
}

.vp_booking-details{

}

.vp_booking-details > h2{
   
}

.vp_booking-details > p{
 font-size: 1.6rem;
 padding-top: 12px;
 padding-bottom: 24px;
}



.vp_booking-details-list{
font-size: 1.6rem;
display: flex;
flex-direction: column;
row-gap: 12px;
padding-bottom: 3rem;
}

.vp_booking-details-item{
display: flex;
align-items: center;
column-gap: 10px;
}

.vp_btn-booking{
  background-color: #FFFFFF;
  color: var(--primary-color);
}

.vp_booking-image-box{
display: flex;
align-items:center;
}

.vp_booking-image{

}



.vp_guides{
  padding: 6.5rem 0rem;
}

.vp_guides > h2{

}

.vp_guides > p{
 font-size: 1.6rem;
 padding-bottom: 4rem;
}

.vp_guides-container{
display: flex;
column-gap:26px;
}

.vp_guides-card{
 width: 301px;
 padding: 20px;
 background-color: rgba(47, 110, 73, .08);
 border-radius: 10px;
}


.vp_guides-card > h3{
 font-size: 1.7rem;
 padding-top:12.5px;
 padding-bottom: 6px;
}

.vp_guides-card > a{
 border-bottom: solid var(--secondary-color) 3px;
 font-size: 1.5rem;
 font-weight: bold;
 color:var(--primary-color);
  display:flex;
  width:fit-content;
  align-items: center;
  column-gap: 5px;
}



.vp_guides-image-box{
  position: relative;
  border-radius: 10px;
}

.vp_guides-image-box::after{
    content: "FREE GUIDE";
    width:fit-content;
    padding:2px 8px;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    position:absolute;
    top:12px;
    left:12px;
    font-weight: bold;
    border-radius: 5px;
}

.vp_guides-image-box > img{

}